{% extends 'base.html' %} {% block styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/main_page.css') }}"
/>
{% endblock %} {% block main_content %}
<div class="main-content">
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %}
  <ul class="flashes">
    {% for category, message in messages %} {% if category == 'logout' %}
    <li>{{ message }}</li>
    {% endif %} {% endfor %}
  </ul>
  {% endif %} {% endwith %}
  <div class="welcome-txt">
    <h2>Welcome to OwlDen! 🦉 - Your Book Review Hub</h2>
    <p>
      We're thrilled to have you join our community of book lovers. At OwlDen,
      we believe that every book has a story to tell, and we're here to help you
      discover, rate, and review your next great read. Whether you're searching
      for a hidden gem or want to share your thoughts on a recent page-turner,
      you've come to the right place.
    </p>
    <p>
      Dive into the world of books, connect with fellow readers, and let your
      literary journey begin. Remember, the wise owl is always here to guide you
      through the endless stacks of stories. Happy reading!
    </p>
  </div>

  <div class="welcome-books">
    {% for book in books %}
    <div class="book">
      <img src="{{ book.cover_image_url }}" alt="cover image" />
      <a href="{{ url_for('book_details', book_id=book.id) }}">
        <h3>{{ book.title }}</h3>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
