{% extends "base.html" %} {% block styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/login_page.css') }}"
/>
{% endblock %} {% block main_content %}
<div class="main-content">
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %}
  <ul class="flashes">
    {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}
  <form action="" method="post">
    <fieldset>
      <legend>Login</legend>
      <label for="email">E-mail</label> <br />
      <input type="email" name="email" id="email" />
      <br />
      <label for="password">password</label> <br />
      <input type="password" name="password" id="password" />
      <br />
      <input type="submit" value="Login" />
      <small>
        <p>
          Don't have an account?
          <a href="{{ url_for('register') }}">Register now.</a>
        </p>
      </small>
    </fieldset>
  </form>
</div>
{% endblock %}
